* {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: lightgray;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;

    max-width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 2px 0 8px black;
}

.lateral{
    box-shadow: 2px 0 8px black;
    padding-left: 1rem;
    max-width: 30rem;

    ul{
        list-style: none;
        li{
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: center;
            padding-bottom: 1rem;
            a{
                text-decoration: none;
                
            }
        }
    }

}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
  }